<div>

    
  <div>
    <form>
      
        <label>Search by suburb:</label>
       <div class="form-row">
        <select id = "suburbResults">
              <option value = "1">CBD</option>
              <option value = "2">Kilbirnie</option>
              <option value = "3">Newtown</option>
              <option value = "4">Miramar</option>
            </select>
       <button id="searchButton">Search!</button>
       </div>
    </form> 
  </div>

  <div ="searchResults">
    <div id="displayResults">Search Results</div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div id="opShop" class="card">
          
        </div>  
      </div>
    </div>
  </div>
</div>