<div>
  <form>

    <label>Search by suburb:</label>
    <select id="suburbResults">
      <option value="1">CBD</option>
      <option value="2">Kilbirnie</option>
      <option value="3">Newtown</option>
      <option value="4">Miramar</option>
    </select>

  </form>

  <button id="searchButton">Search!</button>

</div>

<div>
  <div id="displayResults">
    <h4>Search Results</h4>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-2">
      <div id="opShop" class="card">

      </div>
    </div>
  </div>
</div>