<!DOCTYPE html>
<html>

<head>
  <title>Friperie</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src='/bundle.js'></script>
</head>

<body>
  <div class="container-fluid">
    <div id="friperieHeader">Friperie</div>
    
    <div>
      <form class='searchForm' action="/" method="post"></form>
        <label for="suburbName"></label>
        <input class='searchBox' list="suburbName" name="suburbName">
        
        <datalist id="suburbs">
          {{#each suburb}}
          <option value="{{suburb}}"></option>
          {{/each}}
        </datalist>
      
      <button id="searchButton">Search!</button>
      
    </div>

    {{{body}}}
  </div>
</body>

</html>